<div class="row">
	<div class="col-sm-6 col-lg-3">
		<div class="card text-white bg-flat-color-1">
			<div class="card-body pb-0">
				<div class="dropdown float-right">
					<button data-toggle="dropdown" id="dropdownMenuButton" type="button" class="btn bg-transparent dropdown-toggle theme-toggle text-light">
						<i class="fa fa-cog"></i>
					</button>
					<div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
						<div class="dropdown-menu-content">
							<a href="#" class="dropdown-item">Action</a>
							<a href="#" class="dropdown-item">Another action</a>
							<a href="#" class="dropdown-item">Something else here</a>
						</div>
					</div>
				</div>
				<h4 class="mb-0">
					<span class="count">10468</span>
				</h4>
				<p class="text-light">Members online</p>
				<div height="70" style="height:70px;" class="chart-wrapper px-0"><iframe class="chartjs-hidden-iframe" style="display: block; overflow: hidden; border: 0px none; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" tabindex="-1"></iframe>
					<canvas id="widgetChart1" height="70" style="display: block; width: 324px; height: 70px;" width="324"></canvas>
				</div>

			</div>

		</div>
	</div>
	<!--/.col-->
	<div class="col-sm-6 col-lg-3">
		<div class="card text-white bg-flat-color-2">
			<div class="card-body pb-0">
				<div class="dropdown float-right">
					<button data-toggle="dropdown" id="dropdownMenuButton" type="button" class="btn bg-transparent dropdown-toggle theme-toggle text-light">
						<i class="fa fa-cog"></i>
					</button>
					<div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
						<div class="dropdown-menu-content">
							<a href="#" class="dropdown-item">Action</a>
							<a href="#" class="dropdown-item">Another action</a>
							<a href="#" class="dropdown-item">Something else here</a>
						</div>
					</div>
				</div>
				<h4 class="mb-0">
					<span class="count">10468</span>
				</h4>
				<p class="text-light">Members online</p>

				<div height="70" style="height:70px;" class="chart-wrapper px-0"><iframe class="chartjs-hidden-iframe" style="display: block; overflow: hidden; border: 0px none; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" tabindex="-1"></iframe>
					<canvas id="widgetChart2" height="70" style="display: block; width: 324px; height: 70px;" width="324"></canvas>
				</div>

			</div>
		</div>
	</div>
	<!--/.col-->
	<div class="col-sm-6 col-lg-3">
		<div class="card text-white bg-flat-color-3">
			<div class="card-body pb-0">
				<div class="dropdown float-right">
					<button data-toggle="dropdown" id="dropdownMenuButton" type="button" class="btn bg-transparent dropdown-toggle theme-toggle text-light">
						<i class="fa fa-cog"></i>
					</button>
					<div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
						<div class="dropdown-menu-content">
							<a href="#" class="dropdown-item">Action</a>
							<a href="#" class="dropdown-item">Another action</a>
							<a href="#" class="dropdown-item">Something else here</a>
						</div>
					</div>
				</div>
				<h4 class="mb-0">
					<span class="count">10468</span>
				</h4>
				<p class="text-light">Members online</p>
			</div>
			<div height="70" style="height:70px;" class="chart-wrapper px-0">
				<iframe class="chartjs-hidden-iframe" style="display: block; overflow: hidden; border: 0px none; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" tabindex="-1"></iframe>
				<canvas id="widgetChart3" height="84" style="display: block; width: 364px; height: 84px;" width="364"></canvas>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-lg-3">
		<div class="card text-white bg-flat-color-4">
			<div class="card-body pb-0">
				<div class="dropdown float-right">
					<button data-toggle="dropdown" id="dropdownMenuButton" type="button" class="btn bg-transparent dropdown-toggle theme-toggle text-light">
						<i class="fa fa-cog"></i>
					</button>
					<div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
						<div class="dropdown-menu-content">
							<a href="#" class="dropdown-item">Action</a>
							<a href="#" class="dropdown-item">Another action</a>
							<a href="#" class="dropdown-item">Something else here</a>
						</div>
					</div>
				</div>
				<h4 class="mb-0">
					<span class="count">10468</span>
				</h4>
				<p class="text-light">Members online</p>
				<div height="70" style="height:70px;" class="chart-wrapper px-3"><iframe class="chartjs-hidden-iframe" style="display: block; overflow: hidden; border: 0px none; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" tabindex="-1"></iframe>
					<canvas id="widgetChart4" height="68" style="display: block; width: 292px; height: 68px;" width="292"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>